.shop-interface {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.products {
	margin-top: 20px;
	margin-right: 130px;
	width: 50%;
}
.cart {
	width: 50%;
	margin-right: 200px;
}
.cart-header {
	margin-top: 40px;
	text-align: left;
}
